/* Mixins */
/* Base Values */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

/* Header and Location Bar */
header {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}
header img.logo {
  width: 200px;
  height: auto;
}

.location-bar {
  background-color: #EAEAEA;
  padding: 20px;
  text-align: center;
}
.location-bar i {
  font-size: 20px;
  margin-right: 10px;
  color: #353535;
}
.location-bar .location-name {
  color: #353535;
  font-size: 1rem;
  font-weight: bold;
}

/* Hero Section */
.hero-section {
  background-color: #F6F6F6;
  text-align: center;
  padding: 5px 10px 35px 10px;
}
.hero-section h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}
.hero-section p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  margin-bottom: 30px;
}
.hero-section button {
  padding: 1rem 1.5rem;
  border-radius: 1.5625rem;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1rem;
  font-weight: 550;
  border: none;
  cursor: pointer;
  transition: transform 300ms ease-out;
}
.hero-section button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/* How it works Section */
.how-it-works-section {
  text-align: left;
  padding: 2rem;
}
.how-it-works-section h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}
.how-it-works-section .rectangle-container {
  position: relative;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 1.25rem;
  margin-bottom: 30px;
  display: flex;
  cursor: pointer;
}
.how-it-works-section .rectangle-container::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: #9356DC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.88638rem;
  font-weight: 500;
  color: #fff;
}
.how-it-works-section .rectangle-container i {
  font-size: 25px;
  color: #7E7E7E;
  padding: 10px 20px 0px 20px;
}
.how-it-works-section .rectangle-container .fa-store::before {
  color: #9356DC;
}
.how-it-works-section .rectangle-container p {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
}
.how-it-works-section .step-1::before {
  content: "1";
}
.how-it-works-section .step-2::before {
  content: "2";
}
.how-it-works-section .step-3::before {
  content: "3";
}

/* Restaurant Section */
.featured-section {
  background: #F6F6F6;
  padding: 20px;
}
.featured-section h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}
.featured-section .card {
  position: relative;
  background: #fff;
  border-radius: 0.9375rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 55px;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
}
.featured-section .card a {
  text-decoration: none;
}
.featured-section .card img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  margin-bottom: 10px;
  -o-object-position: center 58%;
     object-position: center 58%;
}
.featured-section .card .new-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 0.125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-block;
}
.featured-section .card h2 {
  font-size: 20px;
  color: #000;
  margin-top: 5px;
  margin-bottom: 1px;
  padding-left: 20px;
}
.featured-section .card p {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-left: 20px;
}

/* Footer */
.footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer ul {
  padding-left: 0;
}
.footer .footer-logo {
  text-align: left;
}
.footer .footer-logo img {
  width: 100px;
  height: auto;
  filter: invert(1);
  cursor: pointer;
}
.footer .footer-menu {
  margin-top: 20px;
  text-align: left;
}
.footer .footer-menu .menu-item {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer .footer-menu .menu-item i {
  margin-right: 5px;
}
.footer .footer-menu .menu-item a {
  color: #fff;
  text-decoration: none;
}

/* Loader Animation */
.main-section {
  animation: appear 3s linear;
}

.loader {
  position: fixed;
  top: 50%;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid #9356DC;
  border-top-color: #FF79DA;
  border-radius: 50%;
  animation: spin 1s ease-in-out 10, disappear 2s ease-in-out forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Heart-Fill Animation */
#heart-svg1, #heart-svg2, #heart-svg3, #heart-svg4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label svg #heart1, .checkbox:checked + label svg #heart2, .checkbox:checked + label svg #heart3, .checkbox:checked + label svg #heart4 {
  fill: #C968DB;
  animation: fillHeart 0.5s ease forwards;
}

@keyframes fillHeart {
  0% {
    fill: transparent;
  }
  50% {
    fill: #C968DB;
    stroke: none;
  }
  100% {
    fill: #C968DB;
    stroke: none;
  }
}
/* Media Query for Desktop */
@media screen and (min-width: 1440px) {
  /* How it works section */
  .how-it-works-section {
    padding: 30px 195px;
  }
  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rectangle-container {
    width: 400px;
    height: 50px;
    margin: 0 20px;
  }
  .step-1 p,
  .step-2 p,
  .step-3 p {
    padding-top: 3px;
  }
  /* Restaurant cards */
  .featured-section {
    padding: 10px 195px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: calc(50% - 50px);
    margin-bottom: 20px;
  }
  /* Footer */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 1px 650px;
  }
  .footer .footer-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .footer .footer-menu ul .menu-item {
    margin-right: 30px;
  }
  .footer .footer-menu ul .menu-item:last-child {
    margin-right: 30px;
  }
  .footer .footer-menu ul .menu-item a {
    color: #fff;
    text-decoration: none;
  }
  .footer .footer-logo {
    order: 2;
  }
  .footer .footer-logo img {
    max-width: 100px;
  }
  /* Loader Animation */
  .loader {
    position: fixed;
    top: 50%;
    left: 48.75%;
  }
}
/* Restaurant Page */
.container {
  display: flex;
  align-items: center;
}
.container .go-back {
  color: #000;
  text-decoration: none;
}
.container .logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-image {
  width: 100%;
  height: 275px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60%;
     object-position: center 60%;
}

.restaurant-title {
  position: relative;
  display: inline-block;
  margin-left: -40px;
}
.restaurant-title h1 {
  margin-right: 140px;
  display: inline-block;
}

.SC-title {
  position: relative;
  display: inline-block;
  margin-left: -30px;
}
.SC-title h1 {
  margin-right: 50px;
  display: inline-block;
}

.restaurant-menu {
  text-align: center;
  background-color: #F6F6F6;
  padding: 10px 10px 37px 10px;
  border-radius: 50px 50px 0 0;
  margin-top: -40px;
  position: relative;
  z-index: 1;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.restaurant-menu h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.restaurant-menu section {
  margin: 0px 15px 35px 15px;
  text-align: left;
}
.restaurant-menu section h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
}
.restaurant-menu section .section-title {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 45px;
}
.restaurant-menu section ul {
  list-style: none;
  padding: 0;
}
.restaurant-menu section ul li {
  margin-bottom: 15px;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 15.04px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  overflow: hidden;
}
.restaurant-menu section ul li h3 {
  font-size: 18px;
  font-weight: 550;
  line-height: 21px;
  letter-spacing: 0em;
  margin: 5px 0;
}
.restaurant-menu section ul li p {
  margin: 2px;
}
.restaurant-menu section ul li span {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
}
.restaurant-menu .order-button {
  border-radius: 1.5625rem;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1rem;
  font-weight: 550;
  border: none;
  cursor: pointer;
  transition: transform 300ms ease-out;
  padding: 1rem 4.5rem;
}
.restaurant-menu .order-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/* Media Queries for Desktop */
@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
  }
  .container .go-back {
    color: #000;
    text-decoration: none;
  }
  .container .logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .header-image {
    width: 100%;
    height: 400px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center 60%;
       object-position: center 60%;
  }
  .restaurant-title {
    position: relative;
    display: inline-block;
  }
  .restaurant-title h1 {
    margin-right: 100px;
    display: inline-block;
  }
  .restaurant-menu {
    text-align: center;
    background-color: #F6F6F6;
    padding: 10px 10px 37px 10px;
    border-radius: 50px 50px 0 0;
    margin-top: -40px;
    position: relative;
    z-index: 1;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .restaurant-menu h1 {
    font-family: "Shrikhand";
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
  }
  .restaurant-menu section {
    margin: 40px 150px;
    text-align: left;
  }
  .restaurant-menu section h2 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .restaurant-menu section .section-title {
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    width: 45px;
  }
  .restaurant-menu section ul {
    list-style: none;
    padding: 0;
  }
  .restaurant-menu section ul li {
    margin-bottom: 15px;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 15.04px;
    box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
    display: flex;
    overflow: hidden;
  }
  .restaurant-menu section ul li h3 {
    font-size: 18px;
    font-weight: 550;
    line-height: 21px;
    letter-spacing: 0em;
    margin: 5px 0;
  }
  .restaurant-menu section ul li p {
    margin: 2px;
  }
  .restaurant-menu section ul li span {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
  }
  .restaurant-menu .order-button {
    border-radius: 1.5625rem;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 1rem;
    font-weight: 550;
    border: none;
    cursor: pointer;
    transition: transform 300ms ease-out;
    padding: 1rem 4.5rem;
  }
  .restaurant-menu .order-button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}
/* Heart-Fill Animation */
.restaurant-title input[type=checkbox] {
  display: none;
}

.restaurant-title input[type=checkbox] + label {
  cursor: pointer;
  overflow: visible;
  position: absolute;
  bottom: 20px;
  width: 50px;
  height: 50px;
}

.restaurant-title input[type=checkbox]:checked + label svg #heart5 {
  fill: #C968DB;
  animation: fillHeart 0.5s ease forwards;
}

@keyframes fillHeart {
  0% {
    fill: transparent;
  }
  50% {
    fill: #C968DB;
    stroke: none;
  }
  100% {
    fill: #C968DB;
    stroke: none;
  }
}
/* Slider Animation */
.checkbox {
  display: none;
}

li .left {
  width: 100%;
  transition: 1s;
  padding: 10px 15px;
}

li .left:hover {
  cursor: pointer;
}

.left .plate-cont {
  display: flex;
  justify-content: space-between;
}

li .right {
  width: 0;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  transform: translateX(4rem);
  transition: 1s;
}

.fa-check-circle {
  color: #fff;
  font-size: 200%;
}

.checkbox:hover + label li .right {
  width: 90px;
  transform: translateX(0);
}

.checkbox:hover + label li .right .fa-check-circle {
  transform: rotate(1turn);
  transition: 1s;
}

/* Menu loader animation */
.starters, .mains, .desserts {
  opacity: 0;
  animation: appear 1s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mains {
  animation-delay: 1s;
}

.desserts .starters,
.mains, .desserts {
  opacity: 0;
  animation: appear 1s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mains {
  animation-delay: 1s;
}

.desserts {
  animation-delay: 1.5s;
}/*# sourceMappingURL=style.css.map */