/* Mixins */
@mixin button-default {
  border-radius: 1.5625rem;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: $White;
  font-size: 1rem;
  font-weight: 550;
  border: none;
  cursor: pointer;
  transition: transform 300ms ease-out;
}

@mixin button-hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%),
    linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@mixin custom-h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $Black;
  margin-bottom: 30px;
}

/* Base Values */
$Grey: #353535;
$Grey2: #EAEAEA;
$Grey3: #7E7E7E;
$White: #fff;
$Black: #000;
$Background: #F6F6F6;
$Primary: #9356DC;
$Secondary: #FF79DA;
$Green: #99E2D0;
$Green-Font: #008766;
$Gradient: #C968DB;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

/* Header and Location Bar */
header {
  background-color: $White;
  text-align: center;
  padding: 20px;

  img.logo {
    width: 175px;
    height: auto;
  }
}

.location-bar {
  background-color: $Grey2;
  padding: 20px;
  text-align: center;

  i {
    font-size: 20px;
    margin-right: 10px;
    color: $Grey;
  }

  .location-name {
    color: $Grey;
    font-size: 1rem;
    font-weight: bold;
  }
}

/* Hero Section */
.hero-section {
  background-color: $Background;
  text-align: center;
  padding: 20px;

  h1 {
    @include custom-h1;
  }

  p {
    font-size: 1.125rem;
    font-weight: 300;
    color: $Grey;
    margin-bottom: 30px;
  }

  button {
    padding: 0.81rem 1.17rem;
    @include button-default;

    &:hover {
      @include button-hover;
    }
  }
}

/* How it works Section */
.how-it-works-section {
  text-align: left;
  padding: 2rem;

  h1 {
    @include custom-h1;
  }

  .rectangle-container {
    position: relative;
    background: $Background;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 1.25rem;
    margin-bottom: 30px;
    display: flex;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background: $Primary;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.88638rem;
      font-weight: 500;
      color: $White;
    }

    i {
      font-size: 25px;
      color: $Grey3;
      padding: 10px 20px 0px 20px;
    }

    .fa-store {
      &::before {
        color: $Primary;
      }
    }

    p {
      font-size: 1rem;
      font-weight: bold;
      color: $Black;
      margin-top: 10px;
    }
  }

  .step-1::before {
    content: '1';
  }

  .step-2::before {
    content: '2';
  }

  .step-3::before {
    content: '3';
  }
}

/* Restaurant Section */
.featured-section {
  background: $Background;
  padding: 20px;

  h1 {
    @include custom-h1;
  }

  .card {
    position: relative;
    background: $White;
    border-radius: 0.9375rem;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
    text-align: left;
    overflow: hidden;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 0.9375rem;
      border-top-right-radius: 0.9375rem;
      margin-bottom: 10px;
    }

    .new-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: $Green;
      color: $Green-Font;
      font-size: 14px;
      font-weight: 600;
      padding: 7px 20px;
      border-radius: 0.125rem;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      display: inline-block;
    }

    h2 {
      font-size: 20px;
      color: $Black;
      margin-top: 5px;
      margin-bottom: 1px;
      padding-left: 20px;
    }

    p {
      font-size: 16px;
      color: $Black;
      margin-bottom: 20px;
      margin-top: 5px;
      padding-left: 20px;
    }
  }
}

/* Footer */
.footer {
  background-color: $Grey;
  color: $White;
  padding: 20px;
  text-align: center;

  ul {
    padding-left: 0;
  }

  .footer-logo {
    text-align: left;

    img {
      width: 100px;
      height: auto;
      filter: invert(1);
      cursor: pointer;
    }
  }

  .footer-menu {
    margin-top: 20px;
    text-align: left;

    .menu-item {
      display: block;
      margin-bottom: 10px;
      cursor: pointer;

      i {
        margin-right: 5px;
      }
    }
  }
}

/* Loader Animation */
main {
  animation: appear 3s linear;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid $Primary;
  border-top-color: $Secondary;
  border-radius: 50%;
  animation: spin 1s ease-in-out 10, disappear 2s ease-in-out forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Heart-Fill Animation */
#heart-svg1, #heart-svg2, #heart-svg3, #heart-svg4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label svg #heart1, .checkbox:checked + label svg #heart2,.checkbox:checked + label svg #heart3,.checkbox:checked + label svg #heart4 {
  fill: $Gradient;
  animation: fillHeart 1.5s ease forwards;
}

@keyframes fillHeart {
  0% {
    fill: transparent;
  }

  33% {
    fill: $Gradient;
    stroke: none;
  }

  66% {
    fill: $Gradient;
    stroke: none;
  }

  100% {
    fill: $Gradient;
    stroke: none;
  }
}

/* Media Query for Desktop */
@media screen and (min-width: 1440px) {

  /* How it works section */
  .how-it-works-section {
    padding: 30px 195px;
  }

  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rectangle-container {
    width: 400px;
    height: 50px;
    margin: 0 20px;
  }

  .step-1 p,
  .step-2 p {
    padding-top: 3px;
  }

  .step-3 p {
    position: relative;
    top: -5px;
  }

  /* Restaurant cards */
  .featured-section {
    padding: 10px 195px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc(50% - 40px);
    margin-bottom: 20px;
  }

  /* Footer */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 1px 650px;

    .footer-menu {
      ul {
        display: flex;
        list-style: none;
        padding: 0;

        .menu-item {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .footer-logo {
      order: 2;
      img {
        max-width: 100px;
      }
    }
  }
}

 /* Restaurant Page */
 @media only screen and (min-width: 1024px) {

  .container {
  display: flex;
  align-items: center;
  .go-back {
    color: $Black;
    text-decoration: none;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.header-image {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
  object-position: center 60%;
}

.restaurant-title {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin-right: 150px;
  }
  .fa-heart {
    font-size: 26px;
  }
}

.restaurant-menu {
  text-align: center;
  background-color: $Background;
  padding: 10px 10px 37px 10px;
  border-radius: 50px 50px 0 0;
  margin-top: -40px;
  position: relative;
  z-index: 1;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);

  h1 {
    font-family: 'Shrikhand';
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;

    i {
      margin-left: 5px;
    }
  }

  section {
    margin: 40px 150px;
    text-align: left;

    h2 {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      letter-spacing: 0em;
    }

    .section-title {
      border-bottom: 3px solid $Green;
      padding-bottom: 5px;
      width: 45px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 1rem;
        margin-bottom: 15px;
        padding: 1px 20px;
        background-color: $White;
        border-radius: 15.04px;
        padding: 10px 20px;
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;

        h3 {
          font-size: 18px;
          font-weight: 550;
          line-height: 21px;
          letter-spacing: 0em;
          margin: 5px 0;
        }

        p {
          margin: 2px;
        }

        span {
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          font-weight: 300;
          line-height: 18px;
          letter-spacing: 0em;
        }
      }
    }
  }

  .order-button {
    @include button-default;
    padding: 1rem 4.5rem;

    &:hover {
      @include button-hover;
    }
  }
}
 }