/* Mixins */
/* Base Values */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

/* Header and Location Bar */
header {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}
header img.logo {
  width: 175px;
  height: auto;
}

.location-bar {
  background-color: #EAEAEA;
  padding: 20px;
  text-align: center;
}
.location-bar i {
  font-size: 20px;
  margin-right: 10px;
  color: #353535;
}
.location-bar .location-name {
  color: #353535;
  font-size: 1rem;
  font-weight: bold;
}

/* Hero Section */
.hero-section {
  background-color: #F6F6F6;
  text-align: center;
  padding: 40px;
}
.hero-section h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}
.hero-section p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  margin-bottom: 30px;
}
.hero-section button {
  padding: 0.81rem 1.17rem;
  border-radius: 1.5625rem;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1rem;
  font-weight: 550;
  border: none;
  cursor: pointer;
  transition: transform 300ms ease-out;
}
.hero-section button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transform: translateY(-5px);
}

/* How it works Section */
.how-it-works-section {
  text-align: left;
  padding: 2rem;
}
.how-it-works-section h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}
.how-it-works-section .rectangle-container {
  position: relative;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 1.25rem;
  margin-bottom: 30px;
  display: flex;
}
.how-it-works-section .rectangle-container::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: #9356DC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.88638rem;
  font-weight: 500;
  color: #fff;
}
.how-it-works-section .rectangle-container i {
  font-size: 25px;
  color: #7E7E7E;
  padding: 10px 20px 0px 20px;
}
.how-it-works-section .rectangle-container .fa-store::before {
  color: #9356DC;
}
.how-it-works-section .rectangle-container p {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
}
.how-it-works-section .step-1::before {
  content: "1";
}
.how-it-works-section .step-2::before {
  content: "2";
}
.how-it-works-section .step-3::before {
  content: "3";
}

/* Restaurant Section */
.featured-section {
  background: #F6F6F6;
  padding: 20px;
}
.featured-section h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}
.featured-section .card {
  position: relative;
  background: #fff;
  border-radius: 0.9375rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
}
.featured-section .card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  margin-bottom: 10px;
}
.featured-section .card .new-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 0.125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-block;
}
.featured-section .card h2 {
  font-size: 20px;
  color: #000;
  margin-top: 5px;
  margin-bottom: 1px;
  padding-left: 20px;
}
.featured-section .card p {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-left: 20px;
}

/* Footer */
.footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer ul {
  padding-left: 0;
}
.footer .footer-logo {
  text-align: left;
}
.footer .footer-logo img {
  width: 100px;
  height: auto;
  filter: invert(1);
}
.footer .footer-menu {
  margin-top: 20px;
  text-align: left;
}
.footer .footer-menu .menu-item {
  display: block;
  margin-bottom: 10px;
}
.footer .footer-menu .menu-item i {
  margin-right: 5px;
}

/* Loader Animation */
main {
  animation: appear 3s linear;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid #9356DC;
  border-top-color: #FF79DA;
  border-radius: 50%;
  animation: spin 1s ease-in-out 10, disappear 2s ease-in-out forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Heart-Fill Animation */
#heart-svg {
  position: absolute;
  bottom: 30px;
  right: 20px;
  padding-top: 20px;
  cursor: pointer;
  overflow: visible;
  width: 36px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label svg #heart {
  fill: #9356DC;
  animation: fillHeart 1.5s ease forwards;
}

@keyframes fillHeart {
  0% {
    fill: transparent;
    transform: scale(1);
  }
  50% {
    fill: #9356DC;
  }
  100% {
    fill: #9356DC;
    transform: scale(1.2);
  }
}/*# sourceMappingURL=style.css.map */